@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">See All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Create</a>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade  active" id="home" role="tabpanel" aria-labelledby="home-tab">@Html.Action("Index", "Students")</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">@Html.Action("CreateOrEdit", "Students")</div>
    </div>
</div>

<a onclick="showInPopup('@Url.Action("CreateOrEdit"," Students",null)','New Transaction')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Transaction</a>



@section scripts
{
    <script type="text/javascript">

      function showInPopup(url, title){
            $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {
                    $('#form-modal .modal-body').html(res);
                    $('#form-modal .modal-title').html(title);
                    $('#form-modal').modal('show');
                }
            })
        }
    </script>
    
    
}
